extends layout

block content
  style.

  .row
    .col-sm-3
      form(role='form', enctype='multipart/form-data', method='POST')
        .form-group
          label.control-label File Input
          input#file-input(type='file', name='myFile')
          button.btn.btn-primary(type='submit') Submit
          //button#btn-upload.btn.btn-primary Submit
    .col-sm-3
      select#file-select
        option Choose a file
  .row
    .col-sm-8
      #map
    .col-sm-4
      #map-nav

  script(src='/js/lib/jquery-2.2.4.min.js')
  script(src='/js/lib/bootstrap.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js')
  script(src='/js/main.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCJUqqC9Lg3-ayYuWa1VgDk5hiHiHIe30A&callback=preco.initMap')

